# The default build directory
/_build
# The devel directory binaries
/devel/test[0-9][0-9]

# Editor temporary files
.*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
